<div class="overflow-hidden">


            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="py-0 text-center header">

              <div class="bg-holder overlay" style="background-image:url(~/images/yt-video-full.jpg);" data-zanim-xs='{"delay":0.5,"animation":"zoom-out"}' data-zanim-trigger="scroll">
                <div class="bg-youtube" data-youtube-embed='{"videoId":"mCWaAOzx3Pk","startSeconds":1,"endSeconds":16}'></div>
              </div>
              <!--/.bg-holder-->

              <div class="container">
                <div class="row h-full align-items-center">
                  <div class="col">
                    <h5 class="text-white fs-9 fs-sm-8 mb-4 text-uppercase" data-zanim-xs='{"delay":1.2}'>Welcome to </h5>
                    <h1 class="text-white fs-6 fs-sm-4 fw-bold ls-3 text-uppercase"> <span class="d-block" data-zanim-xs='{"delay":1.3}'>ScootGreen </span><span class="d-block" data-zanim-xs='{"delay":1.4}'>Rentals </span></h1>
                    <div class="text-white overflow-hidden" data-zanim-xs='{"delay":1.5}'> 
                        @* <a class="fw-medium fs-9 fs-sm-7 text-white" href="#!">Rent a Scooter</a><span class="px-2 fs-10 d-inline-block">&#9679;</span>
                        <a class="fw-medium fs-9 fs-sm-7 text-white" href="#!">Rent a Bike</a><span class="px-2 fs-10 d-inline-block">&#9679;</span>
                         *@<a class="fw-medium fs-9 fs-sm-7 text-white" href="#!">ASCENT TO ADVENTURES ON TWO WHEELS</a></div>
                        <a class="btn rounded-capsule btn-primary mt-5" href="tel:7306156400" data-zanim-xs='{"delay":1.7}'>Enquire</a>
                  </div>
                </div><a class="btn-down" href="#target-down" data-offset="84" data-zanim-xs='{"delay":2.3}' data-zanim-trigger="scroll"></a>
              </div>
              <!-- end of .container-->

            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->


          </div>
          <div id="target-down"></div>


          <!-- ============================================-->
          <!-- <section> begin ============================-->
          <section class="text-center">

            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-10">
                  <div class="border p-3 p-sm-6 rounded-3">
                    <h4> <span class="d-block">Our Vision</span>@* <span class="d-block">to help people reset themselves</span> *@</h4>
                    <hr class="short" />
                    <p class="mb-0">
                        To make scooting Accessible to everyone.
                     </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of .container-->

          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->




          <!-- ============================================-->
          <!-- <section> begin ============================-->
          <section class="pt-0 text-center">

            <div class="container">
              <div class="row justify-content-center">
                <div class="col-12 mb-3 mb-sm-5">
                  <h3>Services </h3>
                  <hr class="short" />
                </div>
                <div class="col-sm-8 col-md-6 col-xl-4">
                  <div class="swiper-theme-container theme-slider mb-5" data-swiper-theme-container="data-swiper-theme-container">
                    <div class="swiper" data-swiper='{"autoplay":{"delay":5000,"disableOnInteraction":false},"spaceBetween":30,"loop":true,"loopedSlides":5,"slideToClickedSlide":true,"slidesPerView":1,"effect":"fade"}'>
                      <div class="swiper-wrapper">
                        <div class="swiper-slide"> <img class="rounded-3" src="~/images/scoot-1.jpeg" alt="" /></div>
                        <div class="swiper-slide"> <img class="rounded-3" src="~/images/scoot-2.jpeg" alt="" /></div>
                      </div>
                      <div class="swiper-nav">
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                      </div>
                    </div>
                  </div>
                  <div> <a href="#!">
                      <h5 class="text-primary fw-semi-bold mb-0 text-uppercase">Rent a Scooter </h5>
                    </a><a href="#!">
                      <h6 class="fs-9 text-400 mt-2 text-uppercase">Scooter Rentals</h6>
                    </a>
                    <p class="px-2"> Scooter rentals made easy with just a click on the button below. </p><a class="btn btn-link fs-10" href="https://wa.me/7306156400?text=Rent_a_Scooter">Book now <span class="fas fa-angle-right"></span></a>
                  </div>
                </div>
                <div class="col-sm-8 col-md-6 col-xl-4 mt-7 mt-md-0">
                  <div class="swiper-theme-container theme-slider mb-5" data-swiper-theme-container="data-swiper-theme-container">
                    <div class="swiper" data-swiper='{"autoplay":{"delay":5000,"disableOnInteraction":false},"spaceBetween":30,"loop":true,"loopedSlides":5,"slideToClickedSlide":true,"slidesPerView":1,"effect":"fade"}'>
                      <div class="swiper-wrapper">
                        <div class="swiper-slide"> <img class="rounded-3" src="~/images/bike-1.jpg" alt="" /></div>
                        <div class="swiper-slide"> <img class="rounded-3" src="~/images/bike-2.jpg" alt="" /></div>
                      </div>
                      <div class="swiper-nav">
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                      </div>
                    </div>
                  </div>
                  <div> <a href="#!">
                      <h5 class="text-primary fw-semi-bold mb-0 text-uppercase">Rent a Bike</h5>
                    </a><a href="#!">
                      <h6 class="fs-9 text-400 mt-2 text-uppercase">Bike Rentals</h6>
                    </a>
                    <p class="px-2"> Scooter rentals made easy with just a click on the button below.</p><a class="btn btn-link fs-10" href="https://wa.me/7306156400?text=Rent_a_Bike">Book now <span class="fas fa-angle-right"></span></a>
                  </div>
                </div>
                <div class="col-sm-8 col-md-6 col-xl-4 mt-7 mt-xl-0">
                  <div class="swiper-theme-container theme-slider mb-5" data-swiper-theme-container="data-swiper-theme-container">
                    <div class="swiper" data-swiper='{"autoplay":{"delay":5000,"disableOnInteraction":false},"spaceBetween":30,"loop":true,"loopedSlides":5,"slideToClickedSlide":true,"slidesPerView":1,"effect":"fade"}'>
                      <div class="swiper-wrapper">
                        <div class="swiper-slide"> <img class="rounded-3" src="~/images/12.png" alt="" /></div>
                        <div class="swiper-slide"> <img class="rounded-3" src="~/images/13.jpg" alt="" /></div>
                      </div>
                      <div class="swiper-nav">
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                      </div>
                    </div>
                  </div>
                  <div> <a href="#!">
                      <h5 class="text-primary fw-semi-bold mb-0 text-uppercase">guided trip</h5>
                    </a><a href="#!">
                      <h6 class="fs-9 text-400 mt-2 text-uppercase">Travel planning</h6>
                    </a>
                    <p class="px-2"> Free your inner adventure with planned trip. Enjoy the thrill, take the challenge and refresh your mind in the nature.</p><a class="btn btn-link fs-10" href="https://wa.me/7306156400?text=Travel_Enquiry">Enquire <span class="fas fa-angle-right"></span></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of .container-->

          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->




          <!-- ============================================-->
          <!-- <section> begin ============================-->
          <section class="has-parallax text-center py-0" data-zanim-timeline="{}" data-zanim-trigger="scroll">

            <div class="bg-holder overlay feature-1" data-parallax="data-parallax" data-rellax-speed="-3">
            </div>
            <!--/.bg-holder-->

            <div class="container">
              <div class="row justify-content-center justify-content-lg-end align-items-center py-9">
                <div class="col-md-9 col-lg-7">
                  <h2 class="fw-bold fs-md-4 text-white" data-zanim-xs='{"delay":0}'>Nature &amp; Travel </h2>
                  <p class="lead text-white px-lg-5" data-zanim-xs='{"delay":0.1}'>We help you explore the nature with style and adventure. A real treat for the body and mind that will help you to balance the effects of work and stress.</p>
                  <a class="btn btn-outline-white rounded-capsule mt-4" href="https://wa.me/7306156400?text=Enquiry" data-zanim-xs='{"delay":0.2}'> learn more </a>
                </div>
              </div>
            </div>
            <!-- end of .container-->

          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->




          <!-- ============================================-->
          <!-- <section> begin ============================-->
         @*  <section class="py-lg-9" data-zanim-timeline="{}" data-zanim-trigger="scroll">

            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-6 order-md-2">
                  <div class="swiper-theme-container theme-slider mt-3 mt-lg-0 mx-2" data-swiper-theme-container="data-swiper-theme-container">
                    <div class="swiper" data-swiper='{"autoplay":{"delay":5000,"disableOnInteraction":false},"spaceBetween":30,"loop":true,"loopedSlides":5,"slideToClickedSlide":true,"slidesPerView":1,"effect":"fade"}'>
                      <div class="swiper-wrapper">
                        <div class="swiper-slide"> <img class="rounded-3" src="~/images/features-4.jpg" alt="" /></div>
                        <div class="swiper-slide"> <img class="rounded-3" src="~/images/features-5.jpg" alt="" /></div>
                        <div class="swiper-slide"> <img class="rounded-3" src="~/images/features-6.jpg" alt="" /></div>
                      </div>
                      <div class="swiper-nav">
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pe-lg-8 mt-4 mt-md-0">
                  <h2 class="fs-6" data-zanim-xs='{"delay":0.2}'>Rest &amp; Relax</h2>
                  <p data-zanim-xs='{"delay":0.4}'>Every now and then go away, have a little relaxation, for when you come back to your work your judgment will be surer. Go some distance away because then the work appears smaller and more of it can be taken in at a glance and a lack of harmony and proportion is more readily seen.</p><a class="btn btn-outline-primary rounded-capsule mt-4" href="#!" data-zanim-xs='{"delay":0.3}'> learn more</a>
                </div>
              </div>
            </div>
            <!-- end of .container-->

          </section> *@
          <!-- <section> close ============================-->
          <!-- ============================================-->




          <!-- ============================================-->
          <!-- <section> begin ============================-->
@*           <section class="has-parallax text-center py-9" data-zanim-timeline="{}" data-zanim-trigger="scroll">

            <div class="bg-holder overlay feature-2" data-parallax="data-parallax" data-rellax-speed="-3">
            </div>
            <!--/.bg-holder-->

            <div class="container">
              <div class="row justify-content-center justify-content-lg-end align-items-center">
                <div class="col-md-9 col-lg-7">
                  <h2 class="fw-bold fs-md-4 text-white" data-zanim-xs='{"delay":0.2}'>Explore Nature </h2>
                  <p class="lead text-white px-lg-5" data-zanim-xs='{"delay":0.3}'>When all the world appears to be in a tumult, and nature itself is feeling the assault of climate change, the seasons retain their essential rhythm.</p><a class="btn btn-outline-white rounded-capsule mt-4" href="#!" data-zanim-xs='{"delay":0.4}'> learn more </a>
                </div>
              </div>
            </div>
            <!-- end of .container-->

          </section>
 *@          <!-- <section> close ============================-->
          <!-- ============================================-->




          <!-- ============================================-->
          <!-- <section> begin ============================-->
          <section class="py-lg-9" data-zanim-timeline="{}" data-zanim-trigger="scroll">

            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-6 order-md-2">
                  <div class="swiper-theme-container theme-slider mt-3 mt-lg-0 mx-2" data-swiper-theme-container="data-swiper-theme-container">
                    <div class="swiper" data-swiper='{"autoplay":{"delay":5000,"disableOnInteraction":false},"spaceBetween":30,"loop":true,"loopedSlides":5,"slideToClickedSlide":true,"slidesPerView":1,"effect":"fade"}'>
                      <div class="swiper-wrapper">
                        <div class="swiper-slide"> <img class="rounded-3" src="~/images/helmet-1.jpg" alt="" /></div>
                        <div class="swiper-slide"> <img class="rounded-3" src="~/images/scoot_back.jpg" alt="" /></div>
                        <div class="swiper-slide"> <img class="rounded-3" src="~/images/scoots.jpg" alt="" /></div>
                      </div>
                      <div class="swiper-nav">
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pe-lg-8 mt-4 mt-md-0">
                  <h2 class="fs-6" data-zanim-xs='{"delay":0.2}'>About Us</h2>
                  <p data-zanim-xs='{"delay":0.3}'>A Start-up of three childhood friends, looking forward to give the best rental experience.</p><a class="btn btn-outline-primary rounded-capsule mt-4" href="#!" data-zanim-xs='{"delay":0.4}'> Contact Us</a>
                </div>
              </div>
            </div>
            <!-- end of .container-->

          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->




          <!-- ============================================-->
          <!-- <section> begin ============================-->
          <section class="has-parallax text-center py-9" data-zanim-timeline="{}" data-zanim-trigger="scroll">

            <div class="bg-holder overlay cta-img" data-parallax="data-parallax" data-rellax-speed="-3">
            </div>
            <!--/.bg-holder-->

            <div class="container">
              <div class="row justify-content-center align-items-center">
                <div class="col-11 col-md-10 col-xl-9">
                  <h1 class="fs-5 fs-md-4 text-white" data-zanim-xs='{"delay":0.3}'>Reserve Your Adventure </h1>
                  <p class="fw-bold text-white px-lg-5" data-zanim-xs='{"delay":0.4}'>Discover the world you've never seen, explore the horizon you never reached, unravel the mystery of nature. Reserve your life changing adventurous journey today with Nirvana along with<br class="d-none d-xl-block" />Spa, Yoga and more healthy retreats.</p>
                    <a class="btn btn-outline-white btn-lg rounded-capsule mt-4" href="https://wa.me/7306156400?text=Enquiry" data-zanim-xs='{"delay":0.5}'> inquire</a>
                </div>
              </div>
            </div>
            <!-- end of .container-->

          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->




          <!-- ============================================-->
          <!-- <section> begin ============================-->
          @* <section class="bg-100 overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">

            <div class="container">
              <div class="row justify-content-center">
                <div class="col-12 text-center">
                  <div class="overflow-hidden">
                    <h3 data-zanim-xs='{"delay":0.2}'>Testimonials</h3>
                  </div>
                  <hr class="short" />
                </div>
                <div class="col-lg-10">
                  <div class="swiper-theme-container swiper-slider" data-swiper-theme-container="data-swiper-theme-container">
                    <div class="swiper" data-swiper='{"pagination":true,"autoplay":{"delay":8000,"disableOnInteraction":false},"spaceBetween":30,"loop":true,"loopedSlides":5,"slideToClickedSlide":true,"slidesPerView":1}'>
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="row align-items-center justify-content-center py-6">
                            <div class="col-8 col-md-3"> <img class="rounded-circle" src="~/images/fitness-1.jpg" alt="" /></div>
                            <div class="col-12 col-md-8 mt-4 mt-md-0">
                              <p>Change is not something that we should fear. Rather, it is something that we should welcome. For without change, nothing in this world would ever grow or blossom.</p>
                              <h6 class="fw-semi-bold fs-9 mt-4 mb-0 text-uppercase">John Doe</h6>
                              <p class="fs-10 fw-light mb-0 text-500">Marketing Manager</p>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="row align-items-center justify-content-center py-6">
                            <div class="col-8 col-md-3"> <img class="rounded-circle" src="~/images/fitness-2.jpg" alt="" /></div>
                            <div class="col-12 col-md-8 mt-4 mt-md-0">
                              <p>Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.</p>
                              <h6 class="fw-semi-bold fs-9 mt-4 mb-0 text-uppercase">Jack Foster</h6>
                              <p class="fs-10 fw-light mb-0 text-500">Marketing Manager</p>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="row align-items-center justify-content-center py-6">
                            <div class="col-8 col-md-3"> <img class="rounded-circle" src="~/images/fitness-3.jpg" alt="" /></div>
                            <div class="col-12 col-md-8 mt-4 mt-md-0">
                              <p>We live in a wonderful world that is full of beauty, charm and adventure. There is no end to the adventures that we can have if only we seek them with our eyes open.</p>
                              <h6 class="fw-semi-bold fs-9 mt-4 mb-0 text-uppercase">Natasha Romannof</h6>
                              <p class="fs-10 fw-light mb-0 text-500">Marketing Manager</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="d-md-none">
                        <div class="swiper-pagination"></div>
                      </div>
                    </div>
                    <div class="d-none d-md-block">
                      <div class="swiper-nav">
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of .container-->

          </section> *@
          <!-- <section> close ============================-->
          <!-- ============================================-->




          <!-- ============================================-->
          <!-- <section> begin ============================-->
         @*  <section>

            <div class="container">
              <div class="row justify-content-center">
                <div class="col-12 col-lg-9 col-xl-8 text-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h3 data-zanim-xs='{"delay":0.2}'>As featured in</h3>
                  </div>
                  <hr class="short" />
                  <div class="swiper-theme-container swiper-slider mt-3 mt-lg-5" data-swiper-theme-container="data-swiper-theme-container">
                    <div class="swiper" data-swiper='{"pagination":true,"autoplay":true,"spaceBetween":20,"loop":true,"loopedSlides":5,"slideToClickedSlide":true,"breakpoints":{"0":{"slidesPerView":2},"768":{"slidesPerView":3},"1200":{"slidesPerView":4}}}'>
                      <div class="swiper-wrapper pb-4 mb-4">
                        <div class="swiper-slide">
                          <div class="border border-400 rounded-3"><img class="rounded-3" src="~/images/logo/111.jpg" alt="" /></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="border border-400 rounded-3"><img class="rounded-3" src="~/images/logo/1111.jpg" alt="" /></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="border border-400 rounded-3"><img class="rounded-3" src="~/images/logo/333.jpg" alt="" /></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="border border-400 rounded-3"><img class="rounded-3" src="~/images/logo/2222.jpg" alt="" /></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="border border-400 rounded-3"><img class="rounded-3" src="~/images/logo/555.jpg" alt="" /></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="border border-400 rounded-3"><img class="rounded-3" src="~/images/logo/3333.jpg" alt="" /></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="border border-400 rounded-3"><img class="rounded-3" src="~/images/logo/777.jpg" alt="" /></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="border border-400 rounded-3"><img class="rounded-3" src="~/images/logo/4444.jpg" alt="" /></div>
                        </div>
                      </div>
                      <div class="swiper-pagination"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of .container-->

          </section> *@
          <!-- <section> close ============================-->
          <!-- ============================================-->
