.feature-1 {
    background-image: url(../images/feature-1.jpeg);
}

.feature-2 {
    background-image: url(../images/features-2.jpg);
}

.cta-img {
    background-image: url(../images/feature-2.jpeg);
}